body
{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(33,33,33,1) 50%, rgba(43,43,43,1) 100%);
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    font-size: 1rem;
}

.icon
{
    width: 8rem;
    height: 8rem;
    margin: 1rem;
    animation: fadeIn 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.large
{
    font-size: 10rem;
}

.container-centred
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container-rows
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.container-cols
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0vw;
    justify-content: center;
    align-items: center;
}

.titletext
{
    animation: fadeIn 1s;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
    filter: drop-shadow(-0.2vw 0.2vw 0.1vw #000000);
    font-family: "Oswald", sans-serif;
    letter-spacing: -0.8rem;
}

.subtitletext
{
    animation: fadeIn 1s;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
    font-family: "Roboto", sans-serif;
    margin-top: -2rem;
}

.divider
{
    width: 0vw;
    animation: scaleIn 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes scaleIn {
    0% { width: 0vw; opacity: 0; }
    100% { width: 80vw; opacity: 1; }
}